
<%= link_to 'Edit', edit_datacenter_path(@datacenter)%> |
<%= link_to 'Back', datacenters_path %>
<div class="show">
<h2> View DataCenter </h2>
<table>
<tr>
  <th>Code:</th>
  <td><%= @datacenter.code %></td>
</tr>

<tr>
  <th>Servers available:</th>
  <td><%= @datacenter.servers_available %></td>
</tr>

<tr>
  <th>Servers capacity:</th>
  <td><%= @datacenter.servers_capacity %>TB</td>
</tr>

<tr>
  <th>Country:</th>
  <td><%= @datacenter.country.name %></td>
</tr>

</table>

</div>